{
    "UF":5.0,
    "pdiff":0.01,
    "maxt":0.05,
    "samplingSize":512,
    "comp_dir":"data/DME2000_comp/",
    "sens_dir":"data/DME2000_sens/",
    "acts_dir":"data/DME2000_acts/",
    "resp_dir":"data/DME2000_resp/",
    "figs_dir":"data/DME2000_figs/",
    "mech_dir":"mech/DME2000/",
    "mech_arr":[
        "DME2000",
        "DMEsk59",
        "DMEsk53",
        "DMEsk47"
    ],
    "phi_arr":[
        0.5,
        1.0,
        1.5
    ],
    "P_arr":[
        1.0,
        10.0,
        20.0
    ],
    "T_arr":[
        650.0,
        700.0,
        800.0,
        1000.0,
        1200.0
    ],
    "props":{
        "T":1000.0,
        "P":10.0,
        "phi":1.0,
        "air":"O2:1.0,N2:3.76",
        "fuel":"CH3OCH3:1.0",
        "type":"UV",
        "tot":10.0
    }
}
